<div *ngIf="loading">Loading posts...</div>

<div class="post-grid">
  @for (post of posts; track post.id) {
  <mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>By {{ post.authorName }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ post.content }}</p>
    </mat-card-content>

    <mat-card-actions>
      <div class="rating">
        <span class="rating-label">Rating%</span>
        <mat-progress-bar 
          mode="determinate" 
          [value]="calculateApprovalRating(post)"
          [color]="getRatingTheme(post)">
        </mat-progress-bar>
      </div>

      <button mat-button [color]="post.isLiked === true ? 'primary' : ''"
        (click)="onReact(post, true)">
        <mat-icon>thumb_up_alt</mat-icon>
        {{ post.likeCount }}
      </button>
      <button mat-button [color]="post.isLiked === false ? 'accent' :''"
        (click)="onReact(post, false)">
        <mat-icon>thumb_down</mat-icon>
        {{ post.dislikeCount }}
      </button>
      <button mat-button (click)="openComments(post.id)">
        <mat-icon>comment</mat-icon> {{ post.commentsCount }}
      </button>
      <button mat-button (click)="onShare(post.id)">
        <mat-icon>share</mat-icon>
      </button>
      @if (post?.reactions?.length) {        
        <div class="likes-count">
          {{post?.reactions?.length}} Likes
        </div>
      }
    </mat-card-actions>
  </mat-card>
  }
</div>