.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.invalid-login-credintials {
  padding: 0 0 16px 16px;
  font-size: 14px;
}